# 환경 변수
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# React
client/node_modules/
client/build/

# Node (없어도 되지만 혹시 모르니)
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

